/*
*	Copyright 	-> Cristian Fernandez Plaza
*				-> Juan Carlos Lopez Puig
*				-> Alex Serret Aranda
*	18/01/2016
*/
#footer{
    bottom: 0;
    position: relative;
    width: 97.6%;
    text-align: center;
    border-radius: 5px;

}

body, html{
	background-color: #79AA37;
	height: 100%;
	width: 100%;
	text-align: center;
	display: table;
}

#espaciadoTop{
	width:728px;
	height:90px;
	margin:0;
	padding:0
}

.separacion{
	max-width: 0.3em;
    margin-left: 2%;
    margin-right: 2%;
}

.zone{
	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
	border: 0px solid #000000;
	background-color: white;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

.manga{
	max-width: 11em;
}

.footerMod{
	float: bottom;
	margin-top: 200px;
	background-color: #313131;
	width: 100%;
	color: white;
	display: table-row;
}

.textFooter{
	margin-left: -70%;
}

/* Soluciona problemas con la navbar */
.navbar-nameless{background-color:#313131!important;border-bottom:3px solid #2957ba!important}
.navbar-nameless a{color:#fff!important}
.navbar-nameless .navbar-nav>.active>a,.navbar-nameless .navbar-nav>.active>a:hover,.navbar-nameless .navbar-nav>.active>a:focus{color:#fff!important;font-weight:700!important;background-color:#2957ba!important}
.navbar-nameless .navbar-nav>.active>a.adulto,.navbar-nameless .navbar-nav>.active>a.adulto :hover,.navbar-nameless .navbar-nav>.active>a.adulto :focus{background-color:#BA2929!important}
